.carousel-item img {
    width: 1500px;
    height: 650px;
}

.card-title {
    text-align: center;
}
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custom-card-image {
    object-fit: cover; /* Maintain aspect ratio */
    height: 200px; /* Set desired height */
    width: 100%; /* Set desired width */
}

