/* --Icons-- */
.mushroom1{
	position: absolute;
	left: 115px;
	top: 450px;
}
.mushroom2{
	position: absolute;
	left: 1150px;
	top: 2200px;
}
.murcon2{
	position: absolute;
	left: 1150px;
	top: 2400px;
}
.bbq1{
	position: absolute;
	left: 115px;
	top: 1500px;
}
.bbq2{
	position: absolute;
	left: 1150px;
	top: 950px;
}
.bowl1{
	position: absolute;
	left: 115px;
	top: 2900px;
}
.bowl2{
	position: absolute;
	left: 1150px;
	top: 3550px;
}
.juice1{
	position: absolute;
	left: 150px;
	top: 4150px;
}
.juice2{
	position: absolute;
	left: 1150px;
	top: 4750px;
}
.sili{
	position: absolute;
	left: 115px;
	top: 5400px;
}
/* --end of Icons-- */

/* News letter */
input[type=text]  {
	width: 35%;
	padding: 8px;
	margin: 1px 0;
	margin-bottom: 0px;
	position: absolute;
    left: 470px;
    top: 6144px;
    
} 
input[type=submit]{
    width: 35%;
	padding: 8px;
	margin: 1px 0;
	margin-bottom: 0px;
    position: absolute;
    left: 470px;
    top: 6184px;
}
  
input[type=submit] {
	margin-top: 5px;
	background-color: #208c78;
	color: white;
	border: none;
}
  
input[type=submit]:hover {
	opacity: 0.8;
}

.newsletter{
    position: absolute;
    left: 470px;
    top: 5954px;

}
.img{
    position: absolute;
    left: 35px;
    top: 5894px;
}