
/* News letter */
input[type=text]  {
	width: 35%;
	padding: 8px;
	margin: 1px 0;
	margin-bottom: 0px;
	/*display: inline-block;*/
	position: absolute;
    left: 470px;
    top: 3234px;
    
} 
input[type=submit]{
    width: 35%;
	padding: 8px;
	margin: 1px 0;
	margin-bottom: 0px;
	/*display: inline-block;*/
    position: absolute;
    left: 470px;
    top: 3274px;
}
  
input[type=submit] {
	margin-top: 5px;
	background-color: #208c78;
	color: white;
	border: none;
}
  
input[type=submit]:hover {
	opacity: 0.8;
}

.newsletter{
    position: absolute;
    left: 470px;
    top: 3184px;

}
.img{
    position: absolute;
    left: 35px;
    top: 2944px;
}
