@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

.scroll{
    list-style-type: none;
    display: flex;
  }

  .carousel-inner img {
    width: 105%;
    height: 100vh;
    object-fit: cover;
    }
  
  .card-title1{
    font-size: 500%;   
    font-weight: 900;
    font-family: "Righteous";
    color:#e6e9d5;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
    }
  
  .card-img-overlay .card-title1{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 100;
    }
  
  iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .txt{
    font-size: 150%;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card-body{
    background-color: #208c78;
  }




  .showcase-card {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height: 70vh;
    border: none;
    padding: 38px 10px;
  }
  
  .showcase-card .background {
    width: 100%;
    vertical-align: top;
    height: 70vh;
    -webkit-transform: scale(1.3);
    transform: scale(1.2);
  }
  
  .showcase-card-right{
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height: 35vh;
    border: none;
  }
  .showcase-card-right .background {
    width: 100%;
    vertical-align: top;
    -webkit-transform: scale(1.3);
    transform: scale(1.2);
    height: 38vh;
  }