@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #EBE3D5;
  overflow: hidden;
}
::selection{
  background: rgba(176, 166, 149, .3);
}
.container{
  max-width: 600px;
  height: auto;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  margin: 0; /* Set margin to 0 */
  height: 90px;
  background: #776B5D;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  width: 100%;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 1.25rem;
  height: auto !important;
  padding: 0.5rem;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #776B5D;
  box-shadow: inset 0px 0px 2px 2px rgba(176, 166, 149, .3);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #776B5D;
  border: 1px solid #776B5D;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #776B5D;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #776B5D;
  border: 1px solid #B0A695;
  cursor: pointer;
}
form .button input:hover{
  background: #B0A695;
}
.fa{
  font-size: 2rem;
}
.error {
  background: #f2dede;
  color: #a94442;
  margin: 10px;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}
.success {
  background: #D4EDDA;
  color: #40754C;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}
.password-checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.password-checkbox input{
  margin-right: 10px;
}
.toggle-password{
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.password-container input {
  width: 100%;
  padding-right: 40px; /* space for the icon */
}
.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-container .toggle-password i {
  font-size: 1.2em;
  color: #776B5D;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .wrapper {
    padding: 10px; /* Decrease padding for smaller screens */
  }

  .wrapper .title {
    height: 50px; /* Decrease title height for smaller screens */
    font-size: 20px; /* Decrease title font size for smaller screens */
  }

  .wrapper form {
    padding: 10px; /* Decrease padding for smaller screens */
  }

  .wrapper form .row {
    height: 35px; /* Decrease input height for smaller screens */
    margin-bottom: 5px; /* Decrease margin between rows for smaller screens */
  }

  .wrapper form .row input {
    padding-left: 40px; /* Decrease left padding for smaller screens */
  }

  .password-checkbox {
    margin-bottom: 10px; /* Decrease margin for checkbox section for smaller screens */
  }

  .toggle-password {
    top: 1.25rem; /* Adjust top position for toggle password button for smaller screens */
  }
}


